<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="TestNG">
    <classes>
      <class name="HamchasAssociates.MavenJava.SeleniumTest"/>
      <class name="HamchasAssociates.MavenJava.AppiumTest"/>
      <class name="HamchasAssociates.MavenJava.RESTAPITest"/> 
    </classes>
  </test> <!-- TestNG -->
</suite> <!-- Suite -->
